:root {
  --bg-color: #244d9449;
  --bg-color2: #303944;
  --bg-color3: #244d9449;
  --secondary-color-1: #64ffda;
  --secondary-color-2: #f8c630;
  --red: #e63946;
  --main-color: #476683;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT sans", "Roboto Mono", Arial, Helvetica, sans-serif;
  color: #fff;
}

.bg-1 {
  background-color: var(--bg-color);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  position: relative;
}

.centering {
  position: relative;
  width: 100vw;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.logo {
  width: 12rem;
}

.container {
  width: 90%;
  margin: auto;
  position: relative;
}

.main-header,
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.main-header {
  background-color: var(--bg-color2);
  text-transform: uppercase;
  width: 100%;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid var(--main-color);
  position: relative;
  z-index: 10;
  margin-bottom: 2rem;
}

.main-nav {
  width: auto;
  height: 50px;
  margin-right: 5%;
}

.main-nav .wallet {
  width: 2rem;
  margin-right: 1rem;
}

.disconnect {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 5rem;
  letter-spacing: 3px;
}

h1,
h4,
span {
  color: black;
}

.box {
  height: 50rem;
}

.addressBox {
  text-align: center;
}

.timerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.adminBox {
  text-align: center;
}

th,
td {
  color: black;
  text-align: center;
}

.filter-svg {
  filter: invert(100%) sepia(67%) saturate(10%) hue-rotate(241deg)
    brightness(104%) contrast(100%);
}
